.slick-slide{
    height: auto;
    outline: none;
    &:hover,
    &:focus{
        outline: none;
    }
}

.slider{
    .slider__item{
        padding: 0 15px;
        &:hover,
        &:focus{
            outline: none;
        }
    }
    .slick-list{
        width: 100%;
    }

    &_dots{
        &.slick-dotted{
            margin-bottom: 40px;
            .slick-dots{
                bottom: -40px;
                li{
                    &:first-child:last-child {
                        display: none;
                    }
                    button{
                        display: inline-block;
                        &:before{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    &_portfolio{
        &.slick-dotted{
            margin-bottom: 40px;
            .slick-dots{
                bottom: -40px;
                li{
                    button{
                        &:before{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    &_logo{
        &.slick-dotted{
            margin-bottom: 0px;
            .slick-dots{
                bottom: -40px;
                li{
                    button{
                        &:before{
                            color: $dark-blue;
                        }
                    }
                }
            }
        }
        &.gallery_logo .gallery__item{
            margin-top: 0;
        }
    }
    &_news{
        margin-left: -20px;
        margin-right: -20px;
    }
    &_partners{
        margin-left: -10px ;
        margin-right: -10px ;
        &__item{
            padding: 20px;
            margin: 0 10px;
            .img-fluid{
                width: 140px;
            }
        }
    }
    &_service{
        &__item{
            margin: 0 10px;
            height: 80px;
            border-radius: 0 12px 12px 0;

            &.slick-slide{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider{
        &_logo{
            &.slick-dotted{
                margin-bottom: 30px;
            }
        }
    }
}