footer.footer
    .container
        nav.nav.nav_footer
            a.nav__item(href="#") Каталог
            a.nav__item(href="#") Склад
            a.nav__item(href="#") Открытые вакансии
            a.nav__item(href="#") Услуги
            a.nav__item(href="#") Проектирование
        p.mb-0.text-center.text-bold © 2007-2019. Все права защищены. 
        p.mb-0.text-center 
            a.text-light.text-small.footer__link(href="#") Ознакомиться с политикой конфиденциальности
        p.text-small.text-center.text-light-grey Сайт разработан 
            a.footer__link(href="https://websoho.ru" title="Сайт студией «SOHO»") студией «SOHO»