.filter{
    display: flex;

    // Item
    &_select{
        flex-wrap: wrap;
        min-width: 200px;
        height: 50px;

        color: $grey;

        border: 1px solid $light-grey;
        border-radius: 30px;
        
        position: relative;
        cursor: pointer;
        transition: .4s;

        .filter__title{
            flex: 0 0 100%;
            max-width: 100%;
            max-height: 48px;

            padding: 14px 50px 14px 30px;
            text-transform: uppercase;

            border-radius: 30px;
            background: $white url("../img/arrow-down-light.svg") no-repeat right center / 20px;
            background-position-x: calc(100% - 20px);

            transition: .4s;
            
            &:hover{
                background-color: $light-blue;
            }
        }
        .filter__item{
            padding: 4px 30px;
            transition: .4s;
            cursor: pointer;

            &:hover{
                color: $blue;
                text-decoration: underline;
            }
        }

        .filter_select__content{
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;

            border: 1px solid $light-grey;
            border-radius: 30px;
            background: $white;
            padding: 8px 0;

            position: absolute;
            top: 48px;
            left: 0;
            z-index: 11;

            display: none;
        }
    }
    &_check{
        color: $grey;
        .filter__item{
            margin-right: 10px;
            cursor: pointer;
            
            &:last-child{
                margin-right: 0px;
            }

            &--active{
                color: $blue;
                text-decoration: underline;
                cursor: default;
            }
        }
    }

    // Group
    &-group{
        display: flex;
        align-items: center;

        .filter{
            margin-right: 10px;
        }
    }
}