.gallery{
    .gallery__item{
        padding: 0 10px;
    }

    &_logo{
        flex-wrap: wrap;
        .gallery__item{
            margin-top: 20px;
            height: 80px;
            .img-fluid{
                max-height: 100%;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .gallery{
        &_logo{
            .gallery__item{
                height: 50px;
            }
        }
    }
}