.heading{
    color: $blue;
    font-weight: bold;
    margin-top: -8px;
}
.heading-label{
    @extend .h6;
    font-weight: bold;

    color: $grey;
    text-transform: uppercase;
}
.heading-image{
    display: block;
    color: $grey;
    @extend .text-center;
    @extend .text-small;
}
img + .heading-image{
    margin-top: $padding;
}

.heading-contact{
    font-family: 'Montserrat';
    font-weight: bold;
    color: $blue;
    text-transform: uppercase;

    &_location{
        padding-left: 24px; 
        background: url("../img/map-marker-blue.svg") no-repeat -2px center / 18px;
    }
    &_phone{
        padding-left: 24px;
        background: url("../img/phone-blue.svg") no-repeat 0px center / 15px;
    }
    &_email{
        padding-left: 24px;
        background: url("../img/gmail-blue.svg") no-repeat 0px center / 15px;
    }
}