.item{
    padding: 50px;
    border-radius: 20px;
    
    &__title{
        line-height: 1.2;
    }
    &__intro{
        max-width: 100%;
        font-weight: 300;

        &_slider{
            width: 920px;
            margin: 0 auto 30px;
        }
        &_lh{
            line-height: 1.4;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item{
        padding: 40px;
        
        .link-cta_catalog{
            margin-left: 30px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item{
        padding: 30px;
        border-radius: 14px;
    }
}