.item{
    padding: 40px 50px;
    border-radius: 20px;
    
    .item__intro{
        width: 860px;
        margin: 0 auto;
        max-width: 100%;

        &.lead{
            width: 1100px;
        }
        & + .gallery_logo{
            margin-top: 20px;
        }
    }

    
    &_default{
        @extend .bg-gradient;
        .btn.btn_send{
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        }
        .list.list_statictic{
            .list__intro{
                width: 150px;
                max-width: 100%;
                margin: 10px auto 0;
            }
        }
    }
    &_large{
        padding: 60px 40px;
        .lead{
            font-size: 1.25rem;
            margin-top: 30px;
            &:not(:last-child){
                margin-bottom: 30px;    
            }
        }
        .img-logo{
            max-height: 40px;
            margin: 15px auto;
        }
        .gallery_logo{
            width: 1200px;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &_info{
        background-color: $white;
        &-grey{
            background-color: $light-grey;
        }   
    }
    &_news{
        border: 1px solid $light-grey;

        .item__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .item__title{
                text-transform: uppercase;
                color: $grey;
                letter-spacing: 1px;
                margin-bottom: 0;
            }
            .link-cta-group{
                padding: 30px 0;
            }
            margin-top: -35px;
            margin-bottom: $padding;
        }
    }
    &_logo{
        width: 100%;
        height: 80px;
        padding: 0;
        border-radius: 10px;
        background: $light-grey no-repeat center / 70%;
    }
    &_column{
        height: 100%;
    }
    &_sale{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        background-repeat: no-repeat;

        .item__title{
            @extend .h4;
            text-transform: uppercase;
            color: $white;
            font-weight: 700;
            line-height: 32px;

            flex: 0 0 280px;
            max-width: 100%;
            padding-right: 20px;

            margin-bottom: 0;
        }
        .item__content{
            font-size: 14px;
            line-height: 20px;
            flex: 0 0 260px;
            max-width: 100%;

            margin-bottom: 0;
        }
        .item__cta{
            flex: 0 0 calc(100% - 540px);
            max-width: 100%;
            text-align: right;            
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item{
        &_sale{
            .item__title{
                flex: 0 0 calc(50% - 120px);
            }
            .item__content{
                flex: 0 0 calc(50% - 120px);
            }
            .item__cta{
                flex: 0 0 240px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item{
        padding: 30px 35px;
        &_sale{
            .item__title{
                flex: 0 0 100%;
                margin-bottom: 15px;
            }
            .item__content{
                flex: 0 0 calc(100% - 240px);
            }
            .item__cta{
                flex: 0 0 240px;
            }
        }
        &_large{
            padding: 40px 35px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item{
        padding: 30px;
        &_info{
            padding: 24px 30px;
            border-radius: 14px;
        }
        &_sale{
            .item__title{
                margin-bottom: 30px;
            }
        }
        &_logo{
            height: 60px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item{
        &_sale{
            .item__title{
                margin-bottom: 0;
            }
            .item__title,
            .item__content,
            .item__cta{
                flex: 0 0 100%;
                text-align: center;  
            }
            .item__content{
                margin: 15px auto 30px;
            }
        }
    }
}