.item_offset{
    // small
    &-sm{
        padding: 30px;
    }
    // large
    &-lg{
        padding: 60px 40px;
        
        .lead{
            font-size: 1.25rem;
            margin-top: 30px;
            &:not(:last-child){
                margin-bottom: 30px;    
            }
        }
        .img-logo{
            max-height: 40px;
            margin: 15px auto;
        }
        .gallery_logo{
            width: 1200px;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    // x-large
    &-xl{
        padding: 60px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_offset{
        &-lg{
            padding: 40px 35px;
        }
        &-xl{
            padding: 40px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_offset{
        &-lg{
            padding: 40px 35px;
            .img-logo{
                margin: 5px auto;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_offset{
        &-mobile-none{
            padding: 0;
        }
        &-lg{
            .lead{
                font-size: 1rem;
            }
        }
        &-xl{
            .lead{
                font-size: 1rem;
            }
        }
    }
}