.item_link{
    border-left: 6px solid $grey;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    display: flex;
    align-items: center;

    height: 100px;
    overflow: hidden;

    .item__intro{
        @extend .text-blue;
    }
}
a.item_link{
    border-left-color: $blue;
    cursor: pointer;
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_link{
        height: auto;
    }
}