.item{
    padding: 50px;
    border-radius: 20px;
    
    &__title{
        line-height: 1.2;
    }
    &__intro{
        width: 860px;
        max-width: 100%;
        margin: 0 auto;

        font-weight: 300;

        &.lead{
            width: 1100px;
        }
        & + .gallery_logo{
            margin-top: 40px;
        }

        &_lh{
            line-height: 1.4;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item{
        padding: 40px;
        
        .link-cta_catalog{
            margin-left: 30px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item{
        padding: 30px;
        border-radius: 14px;
    }
}