.item_check-light{
    height: 100%;
    padding: 20px 30px 20px 60px;
    background: url("../img/check-white.svg") no-repeat 22px center / 16px;

    display: flex;
    align-items: center;

    border: 1px solid #546cb4;

    .item__intro{
        font-size: 13px;
        width: 100%;
    }
}