.list{
    list-style: none;
    padding: 0;
    margin: 0;

    &_statictic{
        display: flex;
        flex-wrap: wrap;
        .list__item{
            padding: 2*$padding;
            border:1px solid $white;
            height: 100%;
            margin-left: -1px;
        }
        .list__title{
            font-family: "Montserrat";
            font-size: 46px;
            line-height: 1.2;
        }
        .list__subtitle{
            font-family: "Montserrat";
            font-weight: bold;
            text-transform: uppercase;

            & + .list__intro{
                margin-top: 10px;
            }
        }
        .list__intro{
            font-size: 12px;
            font-weight:300;
        }
    }
    &_networks{
        display: flex;
        flex-wrap: wrap;
        .list__item{
            flex: 0 0 30px;
            max-width: 100%;
            height: 30px;

            margin-right: 10px;
        }
        .list__link{
            width: 100%;
            height: 100%;
            border-radius: 20px;

            background: $white no-repeat center / contain;
            &_facebook{
                background-image: url("../img/facebook.svg");
            }
            &_vk{
                background-image: url("../img/vk.svg");
            }
            &_google{
                background-image: url("../img/google-plus.svg");
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .list{
        &.list_statictic{
            .list__item{
                padding: 15px;
                height: auto;
                &_row{
                    padding: 0;
                    border: none;

                    display: flex;
                    flex-wrap: nowrap;
                    align-items: flex-end;
                    justify-content: space-between;
                    text-align: left;

                    .list__item__col{
                        flex: 0 0 80px;
                        max-width: 80px;
                        .list__title{
                            font-size: 30px;
                        }
                        .list__subtitle{
                            font-size: 12px;
                        }
                    }
                    .list__intro{
                        flex: 0 0 calc(100% - 90px);
                        max-width: calc(100% - 90px);

                        margin: 0;
                    }

                    &:not(.last){
                        border-bottom: 1px solid #5b6fc3;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}