.list{
    list-style: none;
    padding: 0;
    margin: 0;

    &_statictic{
        display: flex;
        flex-wrap: wrap;
        .list__item{
            padding: 2*$padding;
            border:1px solid $white;
            height: 100%;
            margin-left: -1px;
        }
        .list__title{
            font-family: "Montserrat";
            font-size: 46px;
            line-height: 1.2;
        }
        .list__subtitle{
            font-family: "Montserrat";
            font-weight: bold;
            text-transform: uppercase;

            & + .list__intro{
                margin-top: 10px;
            }
        }
        .list__intro{
            font-size: 12px;
            font-weight:300;
        }
    }
    &_networks{
        display: flex;
        flex-wrap: wrap;
        .list__item{
            flex: 0 0 30px;
            max-width: 100%;
            height: 30px;

            margin-right: 10px;
        }
        .list__link{
            width: 100%;
            height: 100%;
            border-radius: 20px;

            background: $white no-repeat center / contain;
            &_facebook{
                background-image: url("../img/facebook.svg");
            }
            &_vk{
                background-image: url("../img/vk.svg");
            }
            &_google{
                background-image: url("../img/google-plus.svg");
            }
        }
    }
}