.content-cta{
    height: 630px;

    background: $dark-blue url("../img/index-bg.jpg") no-repeat center / cover;
    color: $white;
    padding: 110px 60px;

    position: relative;

    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;

        background: url("../img/index-lines.png") no-repeat center / 690px;

        position: absolute;
        left: 0;
        top: 0;
    }

    .content-cta__title{
        font-size: 32px;
        font-weight: bold;
        color: $white;
    }
    .content-cta__content{
        text-align: center;
        flex: 0 0 490px;
        max-width: 490px;
        &.d-mobile{
            display: none;
        }
    }
    .content-cta__service{
        flex: 0 0 calc( 50% - 245px );
        max-width: calc( 50% - 245px);

        display: flex;
        height: 100%;

        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        .content-item{
            width: 360px;
            max-width: 100%;
        }
        &_left{
            align-items: flex-end;
            text-align: right;
            .content-item{
                padding-right: 100px;
                padding-left: 0px;

                .content-item__options{
                    transform: translateX(30px);
                }

                &_1{
                    transform: translateX(94px);
                }
                &_2{
                    transform: translateX(-80px);
                }
                &_3{
                    transform: translateX(94px);
                }

            }
            .content-item-circle{
                left: auto;
                right: 0;
            }
        }
        &_right{
            align-items: flex-start;
            .content-item{
                &_4{
                    transform: translateX(-94px);
                }
                &_5{
                    transform: translateX(80px);
                }
                &_6{
                    transform: translateX(-94px);
                }
            }
        }
    }

    .container, .container-fluid,.row{
        height: 100%;
    }
}
.content-index{
    padding: 0 30px;
    .content-index__title{
        width: 400px;
        max-width: 100%;
    }
    .content-index__intro{
        color: $dark-blue;
        font-weight: 300;
        @extend .lead;
    }
}
.content-page{
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        margin-bottom: $padding;
    }
    a{
        color: $blue;
        text-decoration: underline;
        font-weight: 700;
        &:hover, &:focus{
            color: $link-hover-inverse;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content-cta{
        padding: 80px 40px;
        
        &:after{
            background-size: 800px;
        }

        .content-cta__title{
            font-size: 24px;
        }
        .content-cta__content{
            flex: 0 0 400px;
            max-width: 400px;
        }
        .content-cta__service{
            flex: 0 0 calc( 50% - 200px );
            max-width: calc( 50% - 200px);
            &_left {
                .content-item_2 {
                    transform: translateX(-30px);
                }
            }
            &_right {
                .content-item_5 {
                    transform: translateX(30px);
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content-index{
        padding: 0;
        
        .content-index__title{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .content-cta{
        padding: 60px 40px;
        height: auto;

        &:after{
            display: none;
        }

        .content-cta__content{
            &.d-mobile{
                display: block;
                flex: 0 0 590px;
                max-width: 100%;
            }
        }
        .content-cta__desc{
            margin-bottom: 50px;
        }
        .content-cta__service{
            height: auto;

            flex: 0 0 50%;
            max-width: 50%;
            align-items: center;

            .content-item{
                width: 240px;
                transform: none;
            }

            &_left{
                text-align: left;
                .content-item-circle {
                    left: 0;
                    right: auto;
                }
                .content-item{
                    padding-right: 0px;
                    padding-left: 80px;
                    
                    .content-item__options {
                        transform: translateX(0);
                    }
                }
            }
        }
        .container, .container-fluid, .row{
            height: auto;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content-cta{
        padding: 40px 0 60px;
        
        .content-cta__title{
            font-size: 21px;
            margin-bottom: 15px;
        }
        .content-cta__service{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0;
            &_left{
                padding-right: 10px;
            }
            &_right{
                padding-left: 10px;
            }
            .content-item{
                padding-left: 34px;
                &-circle{
                    width: 20px;
                    height: 20px;
                }

                .content-item__title{
                    font-size: 16px;
                }
                .content-item__options{
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
        .content-cta__desc{
            color:$light-grey;
            line-height: 1.6;
        }
    }
}