.form{
    &-input{
        position: relative;

        border: 1px solid $light-blue;
        border-radius: 10px;
        outline: none;
        
        box-shadow: none;

        padding: 16px 24px;

        background-color: $light-blue;

        // For MODx error class
        &.error{
            border-color: $error;
            color: $error;
            &::placeholder{
                color: $error;
            }
        }
        // Offset form agree
        & + .checkbox{
            margin-top: $padding;
        }
        // Full Block
        &_full{
            width: 100%;
            & + .form-input_full{
                margin-top: $padding;
            }
        }
    }
    // Offset for MODx error blocks
    .error + .checkbox,
    .error + .form-input{
        margin-top: $padding;
    }
}

.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background-color: $blue;

            border-radius: 4px;

            width: 10px;
            height: 10px;

            position: absolute;
            left: 5px;
            top: 5px;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 28px;
        font-size: 12px;
        line-height: 16px;
        color: $grey;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $light-blue;
            border-radius: 4px;
            background: $light-blue;

            width: 20px;
            height: 20px;

            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &__link{
        display: inline;
        text-decoration: underline;
        color: $grey;
        white-space: pre-line;
    }

    &_large{
        .checkbox__label{
            line-height: 22px;
            &:before{
                width: 18px;
                height: 18px;
            }
        }
        .checkbox__input{
            &:checked + .checkbox__label:after {
                width: 9px;
                height: 9px;

                left: 5px;
                top: 4px;
            }
        }
    }
}

// MODx Alert
.jGrowl {
    font-family: "Noto Sans"
}
.jGrowl#jGrowl {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;

    .jGrowl-notification {
        width: 320px;
        padding: 40px 20px;
        border: 1px solid $light-grey;
        border-radius: 0;

        font-size: 14px;
        color: $dark-grey;

        .jGrowl-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            border-radius: 0 0 0 15px;
            color: #fff;
            outline: 0
        }

        &.af-message-success {
            background-color: #f9fcf7!important;
            .jGrowl-close {
                background: $grey;
            }
        }

        &.af-message-error {
            background-color: #fef8f8!important;
            .jGrowl-close {
                background: #df0a0a;
            }
        }
    }
}
