.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    overflow: hidden;
    height: 140px;

    .header__logo{
        padding: 40px;
        border-right: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        overflow: hidden;

        .img-desktop{
            width: 300px;
            height: 60px;
            &.white{
                display: none;
            }
        }
    }
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        flex: 0 0 calc(100% - 660px);
        max-width: calc(100% - 660px);

    }
    .header__nav{
        flex: 2;
        padding: 40px;
    }
    .header__contact{
        flex: 1;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        padding: 40px;

        p.text-small{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
        }

        .contact-phone{
            font-size: 26px;
            font-weight: bold;
            padding-left: 20px;
            background: url("../img/mobile-phone.svg") no-repeat -5px center / 20px;
        }
    }
    .header__email{
        flex: 0 0 140px;
        max-width: 140px;
        height: 140px;
        border-right: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        background: $white url("../img/gmail.svg") no-repeat center / 24px;
        transition: .4s;
        &:hover{
            background-color: lighten($light-grey, 7%);
        }
    }
    .header__search{
        flex: 0 0 140px;
        max-width: 140px;
        height: 140px;
        border-bottom: 1px solid $light-grey;
        background: $white url("../img/search.svg") no-repeat center / 24px;
        transition: .4s;
        &:hover{
            background-color: lighten($light-grey, 7%);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header{
        height: 100px;
        .header__logo{
            padding: 30px 24px;
            flex: 0 0 200px;
            max-width: 200px;

            .img-desktop{
                width: 160px;
                height: 40px;
            }
        }
        .header__container{
            flex: 0 0 calc(100% - 400px);
            max-width: calc(100% - 400px);
        }
        .header__nav{
            padding: 20px 24px;
            padding-right: 0;
        }
        .header__contact{
            padding: 20px 24px;
        }
        .header__email{
            flex: 0 0 100px;
            max-width: 100px;
            height: 100px;
        }
        .header__search{
            flex: 0 0 100px;
            max-width: 100px;
            height: 100px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        height: 80px;
        .header__logo{
            padding: 20px;
            flex: 0 0 calc(100% - 380px);
            max-width: calc(100% - 380px);

            .img-desktop{
                width: 160px;
                height: 40px;
            }
        }
        .header__container{
            flex: 0 0 140px;
            max-width: 140px;
            justify-content: flex-end;
        }
        .header__menu{
            flex: 0 0 80px;
            max-width: 80px;
            height: 80px;
            border-left: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            background: $white url("../img/menu.svg") no-repeat center / 32px;
            cursor: pointer;
            transition: .4s;

            &:hover{
                background-color: lighten($light-grey, 7%);
            }
        }
        .header__nav{
            position: absolute;
            z-index: 101;
            top: 80px;
            right: 0;
            transform: translateX(100%);
            transition: .4s;

            background-color: $white;
            border-left: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;

            width: 381px;
            // height: 100%;
            padding: 20px;

            display: flex;
            flex-direction: column-reverse;

            &--active{
                transform: translateX(0%);
            }

            & > * {
                flex: 1;
            }
        }
        .header__email{
            flex: 0 0 80px;
            max-width: 80px;
            height: 80px;
        }
        .header__search{
            flex: 0 0 80px;
            max-width: 80px;
            height: 80px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        .header__logo{
            padding: 20px;
        }
        .header__contact{
            padding: 20px;
            .contact-phone{
                font-size: 26px;
                padding-left: 20px;
                background: url("../img/mobile-phone.svg") no-repeat -5px center / 20px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        height: 50px;
        .header__logo{
            padding: 10px;
            flex: 0 0 calc(100% - 280px);
            max-width: calc(100% - 280px);

            .img-desktop{ 
                width: auto;
                height: 100%;
            }
        }
        .header__email{
            flex: 0 0 50px;
            max-width: 50px;
            height: 50px;
        }
        .header__search{
            flex: 0 0 50px;
            max-width: 50px;
            height: 50px;
        }
        .header__container{
            flex: 0 0 130px;
            max-width: 130px;
            justify-content: center;
        }
        .header__menu{
            flex: 0 0 50px;
            max-width: 50px;
            height: 50px;
        }
        .header__nav{
            top: 50px;
            padding: 20px 10px;

            width: 100% ;
        }
        .header__contact{
            padding: 10px;
            .contact-phone {
                font-size: 20px;
            }
        }
    }
}
@media all and (max-width: 460px){
    .header{
        .header__logo{
            background: url('../img/logo-icon.svg') no-repeat 10px center / 32px;
            flex: 0 0 52px;
            max-width: 52px;
            .img-desktop{
                display: none;
            }
        }
        .header__container{
            flex: 0 0 calc(100% - 202px);
            max-width: calc(100% - 202px);
        }
        .header__contact{
            justify-content: center;
        }
    }
}