.gallery{
    &__item{
        padding: 0 10px;
    }
    &__item-link{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px 20px 10px 20px;
        margin: 0 10px;
        height: 80px;

        border-radius: 0 6px 6px 0;
        border: none;
        border-left: 6px solid $grey;
        color: $dark-blue;
        background: $white;

        font-weight: 300;
        line-height: 1.4;

        &.slick-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;            
        }
    }

    &_logo{
        flex-wrap: wrap;

        .gallery__item{
            margin-top: 20px;
            height: 80px;
            .img-fluid{
                max-height: 100%;
            }
        }
    }
}
a.gallery__item-link{
    border-left: 6px solid $blue;
    &:hover{
        background-color: $light-blue;
        text-decoration: none;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .gallery{
        &_logo{
            .gallery__item{
                height: 60px;
            }
        }
    }
}