.portfolio-title{
    font-family: 'Montserrat';
    font-size: 16px;
    text-transform: uppercase;
    color: #8092ce;
    line-height: 1.2;
}
.portfolio-item{
    background-color: $white;
    color: $black;
    text-align: center;
    padding: 30px;


    .portfolio-item__gerb{
        width: 100%;
        max-width: 100%;
        height: 80px;
        margin: 0 auto 20px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .portfolio-item__logo{
        width: 330px;
        max-width: 100%;
        height: 90px;
        margin: 0 auto 20px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;

        filter: grayscale(1);
    }
    .portfolio-item__title{
        line-height: 1.5;
        font-weight: 700;

        height: 42px;
        overflow: hidden;

        & + .portfolio-item__info{
            margin-top: 20px;
        }
    }
    .portfolio-item__info{
        font-weight: 300;
    }

    &_designing{
        height: 100%;
        .portfolio-item__intro{
            // line-height: 1.5;
            font-size: 13px;
            font-weight: 300;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .portfolio-title{
        font-size: 16px;
    }
    .portfolio-item{
        .portfolio-item__logo{
            height: 60px;
        }
    }
}