html,body {
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2*$padding;
    color: $dark-blue;

    overflow: hidden;
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: 2.75*$padding;
}
.h1,h1{font-size: 2.75rem;}
.h1-lead{font-size: 3rem;}
.h2,h2{font-size: 2.5rem;}
.h3,h3{font-size: 2rem;}
.h4,h4{font-size: 1.75rem;}
.h5,h5{font-size: 1.5rem;}
.h6,h6{font-size: 1.25rem;}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.5*$padding;
    line-height: 1.8;

    &:last-child{
        margin-bottom: 0;
    }
}
.lead{
    font-size: 1.15rem;
    line-height: 1.6;
}
ol, ul{
    padding: 0;
    margin-bottom: 1.5*$padding;
    padding-left: 1.5*$padding;
    line-height: 1.8;
}

a{
    display: inline-block;
    outline: none;
    transition: .3s;
    
    &:hover, &:focus{
        outline: none;
    }

    &.link-inverse{
        color: $link-hover-color;
        &:hover{
            color: $link-color;
        }
    }
    &.link-underline{
        text-decoration: underline;
    }
}

// Link CTA

.link-cta{
    font-size: 1rem;
    line-height: 1.8;
    position: relative;
    padding-right: 30px;
    white-space: nowrap;
    cursor: pointer;
    transition: .4s;

    &:before{
        content:'';
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 30px;

        position: absolute;
        left: -30px;
        top: calc(-50% - 4px);

        transition: .4s;
    }
    &:hover{
        text-decoration: none;
        padding-right: 34px;
    }
    &_dark{
        color: $grey;
        background: url("../img/arrow-right-circle.svg") no-repeat right center / 20px;
        &:before{
            background-color: rgba(23, 57, 138,0.15);
        }
        &:hover{
            color: $grey;
            &:before{
                background-color: rgba(23, 57, 138,0.1);
            }
        }
    }
    &_light{
        color: $white;
        background: url("../img/arrow-right-circle-white.svg") no-repeat right center / 20px;
        &:before{
            background-color: rgba(255,255,255,0.3);
        }
        &:hover{
            color: $white;
            &:before{
                background-color: rgba( 255,255,255,0.2);
            }
        }
    }
    &_back{
        padding-right: 0px;
        padding-left: 30px;
        &:before{
            right: -30px;
            left: auto;
        }
        &:hover{
            padding-right: 0px;
            padding-left: 34px;
        }
        &.link-cta_dark{
            background: url("../img/arrow-left-circle.svg") no-repeat left center / 20px;
        }
        &.link-cta_light{
            background: url("../img/arrow-left-circle-white.svg") no-repeat left center / 20px;
        }
    }
}
.link-cta-group{
    display: flex;
    flex-wrap: nowrap;
    .link-cta{
        &:hover{
            padding-right: 30px;
        }
        &_back{
            margin-right: 70px;
            &:hover{
                padding-right: 0px;
                padding-left: 30px;
            }
         }
    }
}

.p-relative{position: relative;}
.p-sticky{position: sticky; top: 0; left: 0; z-index: 101; background: $white;}

.d-flex{display: flex;}
.d-none{display: none;}

.text-white{color: $white;}
.text-black{color: $black;}
.text-grey{color: $grey;}
.text-blue{color: $blue;}
.text-dark-blue{color: $dark-blue;}

.bg-gradient{
    background: $blue linear-gradient( 90deg, rgb(21,47,176) 0%, rgb(18,55,131) 100%);
    color: $white;  
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        color: $white;        
    }
}
.bg-storage{
    background: $dark-blue url("../img/bg-storage.jpg") no-repeat center / cover;
}
.bg-lighter-blue{background-color: $light-blue;}
.bg-light-blue{background-color: #dbe0ed;}

.text-uppercase{text-transform: uppercase;}
.text-light{font-weight: 300; p{font-weight: 300;} }
.text-bold,strong,b{font-weight: 700;}
.text-small,small,.small{font-size: 12px; line-height: 16px;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.img-fluid{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.img-logo{
    max-width: calc(100% - 30px);
}

.img-border{
    border: 4px solid #655d6a;
}

.blockquote, blockquote{
    padding: 0 4*$padding;
    color: #485e8f;
    margin-bottom: 2*$padding;

    position: relative;

    &:before{
        content:'';
        display: block;
        position: absolute;
        left: 0;
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;

        background: url("../img/arrow-left.svg") no-repeat center / contain;
    }
    &:after{
        content:'';
        display: block;
        position: absolute;
        right: 0;
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;

        background: url("../img/arrow-right.svg") no-repeat center / contain;
    }

    &-icon{
        border-radius: 10px;
        padding: 24px 40px 24px 90px;
        line-height: 1.5;
        color: $dark-blue;
        background: $light-grey url("../img/clock-light.svg") no-repeat 30px center / 34px;
        &_wallet{
            background: $light-grey url("../img/wallet-light.svg") no-repeat 30px center / 34px;
        }
    }
}

.mt-0{margin-top: 0px;}
.mt-30{margin-top: 30px;}
.mt-60{margin-top: 60px;}

.mb-0{margin-bottom: 0px;}
.mb-15{margin-bottom: 15px;}
.mb-30{margin-bottom: 30px;}
.mb-60{margin-bottom: 60px;}

.mr-0{margin-right: 0}
.ml-0{margin-left: 0}

.pt-0{padding-top: 0px;}
.pt-30{padding-top: 30px;}
.pt-60{padding-top: 60px;}

.pb-0{padding-bottom: 0px;}
.pb-30{padding-bottom: 30px;}
.pb-60{padding-bottom: 60px;}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .mt-xl-30{margin-top: 30px;}

    .mb-xl-30{margin-bottom: 30px;}
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .img-logo{
        max-width: 100%;
    }

    .d-lg-none{display: none;}

    .mt-lg-0{margin-top: 0px;}
    .mt-lg-30{margin-top: 30px;}
    .mt-lg-60{margin-top: 60px;}

    .mb-lg-0{margin-bottom: 0px;}
    .mb-lg-30{margin-bottom: 30px;}
    .mb-lg-60{margin-bottom: 60px;}
	
    .mr-lg-0{margin-right: 0}
    .ml-lg-0{margin-left: 0}

    .pt-lg-0{padding-top: 0px;}
    .pt-lg-30{padding-top: 30px;}
    .pt-lg-60{padding-top: 60px;}

    .pb-lg-0{padding-bottom: 0px;}
    .pb-lg-30{padding-bottom: 30px;}
    .pb-lg-60{padding-bottom: 60px;}

    .text-lg-left{text-align: left;}
    .text-lg-center{text-align: center;}
    .text-lg-right{text-align: right;}
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .h1,.h1-lead,h1{font-size: 2.25rem;}
    .h2,h2{font-size: 2rem;}
    .h3,h3{font-size: 1.75rem;}

    .d-md-none{display: none;}
    
    .mt-md-0{margin-top: 0px;}
    .mt-md-30{margin-top: 30px;}
    .mt-md-60{margin-top: 60px;}

    .mb-md-0{margin-bottom: 0px;}
    .mb-md-30{margin-bottom: 30px;}
    .mb-md-60{margin-bottom: 60px;}
	
    .mr-md-0{margin-right: 0}
    .ml-md-0{margin-left: 0}

    .pt-md-0{padding-top: 0px;}
    .pt-md-30{padding-top: 30px;}
    .pt-md-60{padding-top: 60px;}

    .pb-md-0{padding-bottom: 0px;}
    .pb-md-30{padding-bottom: 30px;}
    .pb-md-60{padding-bottom: 60px;}

    .text-md-left{text-align: left;}
    .text-md-center{text-align: center;}
    .text-md-right{text-align: right;}

    .img-logo{
        max-width: 100%;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .d-sm-none{display: none;}
    .d-sm-block{display: block;}
    
    .h1,.h1-lead,h1{font-size: 1.7rem;}
    .h2,h2,
    .h3,h3{font-size: 1.5rem;}
    .h4,h4,
    .h5,h5{font-size: 1.25rem;}
    .h6,h6{font-size: 1rem;}

    .lead{font-size: 1rem;}

    .text-sm-left{text-align: left;}
    .text-sm-center{text-align: center;}
    .text-sm-right{text-align: right;}

    .text-sm-small{font-size: 12px;}

    .mt-sm-0{margin-top: 0;}
    .mt-sm-15{margin-top: 15px;}
    .mt-sm-30{margin-top: 30px;}
    .mt-sm-60{margin-top: 60px;}

    .mb-sm-0{margin-bottom: 0px;}
    .mb-sm-30{margin-bottom: 30px;}
    .mb-sm-60{margin-bottom: 60px;}

    .mr-sm-0{margin-right: 0}
    .ml-sm-0{margin-left: 0}

    .pt-sm-0{padding-top: 0px;}
    .pt-sm-30{padding-top: 30px;}
    .pt-sm-60{padding-top: 60px;}

    .pb-sm-0{padding-bottom: 0px;}
    .pb-sm-30{padding-bottom: 30px;}
    .pb-sm-60{padding-bottom: 60px;}

    .blockquote, blockquote{
        padding: 0 $padding;
    
        position: relative;
    
        &:before{
            top: 6px;
            width: 8px;
            height: 8px;
        }
        &:after{
            top: auto;
            bottom: 6px;
            width: 8px;
            height: 8px;
        }

        &-icon{
            padding: 20px 20px 20px 50px;
            color: #0b172f;
            background: $light-grey url(../img/clock-light.svg) no-repeat 12px center/24px;
        }
    }
}