@import "variable.scss";

@import "reboot.scss";

@import "framework.scss";
@import "grid.scss";
@import "position.scss";

/*Для каталога и склада*/
@import "catalog/catalog.scss";
@import "catalog/storage.scss";
@import "catalog/product.scss";

/*Для текстового контента*/
@import "content/breadcrumbs.scss";
@import "content/content-icon.scss";
@import "content/content-item.scss";
@import "content/content.scss";
@import "content/heading.scss";
@import "content/table.scss";

/*Для фильтров*/
@import "filter/filter.scss";
@import "filter/filter_check.scss";
@import "filter/filter_link.scss";
@import "filter/filter_select.scss";
@import "filter/filter-group.scss";

/* Для форм */
@import "form/toggle.scss";
@import "form/button.scss";
@import "form/checkbox.scss";
@import "form/form-input.scss";
@import "form/form.scss";
@import "form/search.scss";

/* Для изображений */
@import "image/gallery.scss";

/* Различные информационные блоки */
@import "item/item.scss";
// style
@import "item/item_offset.scss";
@import "item/item_column.scss";
@import "item/item_check.scss";
// type
@import "item/item_default.scss";
@import "item/item_sale.scss";
@import "item/item_logo.scss";
@import "item/item_news.scss";
@import "item/item_link.scss";

/* Для списков */
@import "list/list.scss";
@import "list/list_statictic.scss";
@import "list/list_network.scss";
@import "list/list_check.scss";

/* Общие для всех страниц блоки */
@import "other/fancybox.scss";
@import "other/footer.scss";
@import "other/header.scss";
@import "other/map.scss";
@import "other/nav.scss";
@import "other/pagination.scss";

/* Превью страниц раздела или категории */
@import "preview/preview.scss";
@import "preview/portfolio.scss";

/* Слайдер (slick) */
@import "slider/slider.scss";

/* Индивидуально оформленные страницы */
@import "page/error.scss";
@import "page/designing.scss";


.content-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    .inside-area{
        flex: 1 0 auto;
        position: relative;
        overflow: hidden;
    }
    .footer{
        flex: 0 0 auto;
    }
}