@import "variable.scss";

@import "reboot.scss";

@import "framework.scss";
@import "grid.scss";
@import "position.scss";

@import "other/breadcrumbs.scss";
@import "other/button.scss";
@import "other/fancybox.scss";
@import "other/footer.scss";
@import "other/form.scss";
@import "other/header.scss";
@import "other/nav.scss";
@import "other/pagination.scss";

@import "item/content.scss";
@import "item/filter.scss";
@import "item/gallery.scss";
@import "item/heading.scss";
@import "item/item.scss";
@import "item/list.scss";
@import "item/preview.scss";
@import "item/product.scss";
@import "item/table.scss";

@import "blocks/catalog.scss";
@import "blocks/content.scss";
@import "blocks/map.scss";
@import "blocks/portfolio.scss";
@import "blocks/slider.scss";
@import "blocks/storage.scss";

@import "page/error.scss";

.content-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    .inside-area{
        flex: 1 0 auto;
        position: relative;
        overflow: hidden;
    }
    .footer{
        flex: 0 0 auto;
    }
}