@import "variable.scss";

@import "reboot.scss";

@import "framework.scss";
@import "grid.scss";
@import "position.scss";

@import "other/breadcrumbs.scss";
@import "other/button.scss";
@import "other/footer.scss";
@import "other/form.scss";
@import "other/header.scss";
@import "other/nav.scss";
@import "other/pagination.scss";

@import "item/heading.scss";
@import "item/list.scss";

.content-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    .inside-area{
        flex: 1 0 auto;
        position: relative;
        overflow: hidden;
    }
    .footer{
        flex: 0 0 auto;
    }
}