.content-cta{
    min-height: 360px;
    height: calc(100vh - 140px);

    background: $dark-blue url("../img/index-bg.jpg") no-repeat center / cover;
    color: $white;
    padding: 120px 60px;

    position: relative;

    .row{
        height: 100%;
    }

    &__content{
        text-align: center;
        flex: 0 0 490px;
        max-width: 100%;
    }
    .content-cta__title{
        font-size: 32px;
        font-weight: bold;
        color: $white;
    }
    .content-cta__service{
        flex: 0 0 calc( 50% - 245px );
        max-width: calc( 50% - 245px);

        display: flex;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        .content-item{
            width: 360px;
            max-width: 100%;
        }
        &_left{
            align-items: flex-end;
            text-align: right;
            .content-item{
                padding-right: 80px;
                padding-left: 0px;

                &_1{
                    transform: translateX(80px);
                }
                &_2{
                    transform: translateX(-80px);
                }
                &_3{
                    transform: translateX(80px);
                }

            }
            .content-item-circle{
                left: auto;
                right: 0;
            }
        }
        &_right{
            align-items: flex-start;
            .content-item{
                &_4{
                    transform: translateX(-80px);
                }
                &_5{
                    transform: translateX(80px);
                }
                &_6{
                    transform: translateX(-80px);
                }
            }
        }
    }
}

.content-index{
    padding: 0 30px;
    .content-index__title{
        width: 400px;
        max-width: 100%;
    }
    .content-index__intro{
        color: $dark-blue;
        font-weight: 300;
        @extend .lead;
    }
}

