.map{
    background: none;
    position: relative;
    .item{
        position: relative;
        z-index: 11;
    }
    .gm-style-mtc{
        display: none!important;
    }
}
#map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#mapSmall{
    width: 100%;
    height: 280px;
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .map{
        background: $dark-blue;
    }
    #map{
        position: relative;
        height: 320px;
        z-index: 1;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    #map{
        height: 260px;
    }
}