.btn{
    outline: none;
    border: none;

    padding: 10px 20px;
    border-radius: 24px;

    transition: .4s;

    &:hover{
        text-decoration: none;
    }


    &_default{
        color: $blue;
        background: $white;

        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover{
            color: $dark-blue;
            background: $light-grey;
        }
    }
    &_send{
        color: $white;
        background-color: $blue;

        padding-bottom: 12px;
        letter-spacing: .5px;

        &:hover{
            color: $white;
            background-color: darken($blue,5%);
        }
    }

    // Offset
    &_large{
        padding: 14px 36px;
        &.btn_send{
            padding-bottom: 16px;
        }
    }
}