html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        base(href="")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800|Open+Sans:300,400,700&display=swap&subset=cyrillic" rel="stylesheet")
        title Company Page
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="robots" content="")
        link(rel="canonical" href="")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area
            main.inside-area
                include chunks/header.pug
                section.container-fluid.pt-60.pt-md-30.pb-60.pb-md-30
                    .row.no-gutters.justify-content-center.text-center
                        .col-8.col-md-12.col-lg-12
                            h1.h1-lead.text-bold.text-blue Телеком XXI век — работающий по&nbsp;всей стране системный интегратор
                        .col-6.col-md-12.col-lg-9
                            p.lead.text-blue Москва, Санкт-Петербург и другие регионы России – оборудование от Телеком уже успешно работает во многих городах. С нами сотрудничают мировые вендоры и мы поставляем только сертифицированные товары.
                    .item.item_default.item_offset-lg.mt-60.mt-md-30
                        .row.align-items-center.justify-content-around
                            .col-4.col-lg-12
                                p.h5.text-uppercase.text-bold.mb-15 О компании в&nbsp;цифрах
                                p.lead.text-light Предоставление инновационных совместных решений для&nbsp;обеспечения более эффективного способа работы 
                                    | наших&nbsp;клиентов.
                                p
                                    a.link-cta.link-cta_light.link-cta_catalog(href="#") Посмотреть каталог
                            .col-6.col-lg-12.mt-lg-60
                                .list.list_statictic.row.no-gutters
                                    .col-4.col-sm-12
                                        .list__item.list__item_row.text-center
                                            .list__item__col
                                                .list__title 11
                                                .list__subtitle лет
                                            .list__intro на рынке информационных технологий
                                    .col-4.col-sm-12
                                        .list__item.list__item_row.text-center
                                            .list__item__col
                                                .list__title 165
                                                .list__subtitle объектов
                                            .list__intro на данный момент завершено по всей России
                                    .col-4.col-sm-12
                                        .list__item.list__item_row.text-center.last
                                            .list__item__col
                                                .list__title 10
                                                .list__subtitle вендоров
                                            .list__intro мирового уровня в качестве партнеров и поставщиков
                section.container.pt-30.pt-md-0.pb-30.pb-md-0
                    .row.justify-content-center.text-center
                        .col-9.col-md-12.col-lg-12
                            h2.text-bold Рекомендуем и&nbsp;подбираем оборудование решающее поставленные задачи
                            p.lead.text-light В&nbsp;компании нет продавцов, только инженеры 
                        .col-9.col-md-12.mt-md-30.mt-60.mb-md-30.mb-60
                            .gallery.d-flex.align-items-center.justify-content-center
                                a.gallery__item(href="../img/02.png" data-fancybox data-caption="Caption for single image")
                                    img.img-fluid(src="../img/01.png" alt="" title="")
                                a.gallery__item(href="../img/02.png" data-fancybox data-caption="Caption for single image")
                                    img.img-fluid(src="../img/02.png" alt="" title="")
                                a.gallery__item(href="../img/02.png" data-fancybox data-caption="Caption for single image")
                                    img.img-fluid(src="../img/03.png" alt="" title="")
                        .col-9.col-md-12
                            p.text-light Сотрудники компании – не продавцы, а инженеры, которые, успешно решают задачи обеспечения клиентов необходимой продукцией, проектирования сетей связи, их монтажа и обслуживания. Благодаря эффективной системе обмена опытом и мотивации наши инженеры проходят многоступенчатое обучение от ведущих вендоров.
                section.container-fluid.pt-60.pt-md-30.pb-60.pb-md-30
                    .item.bg-light-blue.item_offset-lg.text-center
                        p.h4.text-uppercase.text-bold.mb-15 Сотрудничаем с&nbsp;крупными и&nbsp;малыми организациями
                        p.item__intro.item__intro_slider Продажа телекоммуникационного оборудования, соответствующего современным стандартам, сделала нашу компанию привилегированным поставщиком для большого числа организаций. Наши клиенты – компании-интеграторы, предприятия строительной отрасли, телекоммуникационные компании разного уровня.
                        .slider.slider_dots.slider_logo.gallery.gallery_logo
                            .gallery__item
                                img.img-fluid(src="../img/logo1.png" alt="" title="")
                            .gallery__item
                                img.img-fluid(src="../img/logo2.png" alt="" title="")
                            .gallery__item
                                img.img-fluid(src="../img/logo3.png" alt="" title="")
                            .gallery__item
                                img.img-fluid(src="../img/logo4.png" alt="" title="")
                            .gallery__item
                                img.img-fluid(src="../img/logo5.jpg" alt="" title="")
                section.container-fluid.pt-60.pt-md-30.pb-60.pb-md-30
                    .item.bg-light-blue.item_offset-lg.text-center
                        p.h4.text-uppercase.text-bold.mb-15 КОМПЛЕКС УСЛУГ ПО ОБЕСПЕЧЕНИЮ СВЯЗИ
                        p.item__intro.item__intro_slider Продажа телекоммуникационного оборудования, соответствующего современным стандартам, сделала нашу компанию привилегированным поставщиком для большого числа организаций. Наши клиенты – компании-интеграторы, предприятия строительной отрасли, телекоммуникационные компании разного уровня.
                        .slider.slider_dots.slider_logo.gallery.gallery_logo
                            .gallery__item-link Строительство сети
                            a.gallery__item-link(href="#") Проектирование
                            .gallery__item-link Монтажные и пусконаладочные работы
                            .gallery__item-link Технический аудит
                            .gallery__item-link Технический аудит
                            .gallery__item-link Предпроектное обследование
                section.container.pt-30.pt-md-0.pb-30.pb-md-0
                    .row.justify-content-center
                        .col-9.col-md-12.col-lg-12.text-center
                            h2.text-bold Надежный поставщик оборудования и&nbsp;системный интегратор
                        .col-6.col-md-12.mb-md-30.text-light
                            p "Телеком XXI&nbsp;век" — это&nbsp;возможность приобрести устройства связи, приборы и&nbsp;средства 
                                | сопряжения от&nbsp;европейских производителей. Купить сетевое оборудование здесь – значит 
                                | гарантировать высокий уровень и&nbsp;актуальность создаваемой системы связи на ближайшие годы. 
                                | Все реализуемое оборудование для сети приобретается за рубежом и&nbsp;имеет сертификаты качества. 
                        .col-6.col-md-12.text-light
                            p В его эффективности и надежности успели убедиться многие наши клиенты. Обеспечение высокого уровня связи и ее бесперебойности – их ключевые требования к нашей продукции. Отзывы и рекомендации позволяют нам убеждаться в том, что реализуемое нами оборудование для сети соответствует этим требованиям.
                section.container-fluid.pt-60.pt-md-30.pb-30
                    .item.item_default.item_offset-lg
                        .row.align-items-center.justify-content-around
                            .col-4.col-md-12
                                p.h5.text-uppercase.text-bold.mb-15 Товары от&nbsp;лучших производителей
                                p.lead.text-light Предоставление инновационных совместных решений для обеспечения более эффективного способа работы наших клиентов.
                                p
                                    a.link-cta.link-cta_light.link-cta_catalog(href="#") Посмотреть каталог
                            .col-7.col-md-12.mt-md-30
                                .row.align-items-center.justify-content-between.justify-content-md-center
                                    .col-4.col-md-6.mb-30
                                        img.img-fluid.img-logo(src="../img/logo/Eaton_Corporation-white.svg" alt="" title="")
                                    .col-4.col-md-6.mb-30
                                        img.img-fluid.img-logo(src="../img/logo/huawei-white.svg" alt="" title="")
                                    .col-4.col-md-6.mb-30
                                        img.img-fluid.img-logo(src="../img/logo/Inspur-white.svg" alt="" title="")
                                    .col-4.col-md-6.mb-30
                                        img.img-fluid.img-logo(src="../img/logo/IPCOM-white.png" alt="" title="")
                                    .col-4.col-md-6.mb-30
                                        img.img-fluid.img-logo(src="../img/logo/D-Link-white.svg" alt="" title="")
                                    .col-4.col-md-6.mb-30
                                        img.img-fluid.img-logo(src="../img/logo/Lenovo-white.svg" alt="" title="")
                                    .col-4.col-md-6.mb-md-30
                                        img.img-fluid.img-logo(src="../img/logo/Microsoft-white.svg" alt="" title="")
                                    .col-4.col-md-6.mb-md-30
                                        img.img-fluid.img-logo(src="../img/logo/dahua-white.png" alt="" title="")
                                    .col-4.col-md-6
                                        img.img-fluid.img-logo(src="../img/logo/Perimetrix-white.png" alt="" title="")
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js")