html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Contact Page

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area
            main.inside-area
                include chunks/header.pug
                section.map
                    #map
                    .container
                        .row
                            .col-5.col-md-8.col-sm-12
                                .item.item_info.mt-30.mb-30
                                    h1.h3.text-bold Контакты
                                    p Есть вопросы? Отправьте нам сообщение, и&nbsp;мы обязательно ответим как&nbsp;можно скорее
                                    p.heading-contact.heading-contact_location.mb-0 Как нас найти
                                    p Москва, ул. Правды, д.24, стр. 4, эт. 8, пом. I, ком. 32
                                    p.heading-contact.heading-contact_phone.mb-0 Телефон
                                    p
                                        a(href="tel:88009131214") 8 800 913-12-14
                                    p.heading-contact.heading-contact_email.mb-0 E-mail
                                    p
                                        a(href="mailto:mail@mail.ru") mail@mail.ru
                section.container.pt-60.pb-60.pt-md-30.pb-md-30
                    .row.justify-content-center
                        .col-6.col-sm-12.col-md-10.col-lg-8.text-center
                            p.h1.text-bold Воспользуйтесь формой, чтобы задать вопрос
                            p Продажа телекоммуникационного оборудования, соответствующего современным стандартам, сделала нашу компанию привилегированным поставщиком для большого числа организаций
                            form.form(action="")
                                input.form-input.form-input_full(type="text" placeholder="Имя")
                                input.form-input.form-input_full.error(type="email" placeholder="E-mail*")
                                input.form-input.form-input_full.phone(type="tel" placeholder="Контактный телефон")
                                textarea.form-input.form-input_full(name="", rows="10", resize="no")
                                .form__agree.checkbox.justify-content-center
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
                                button.btn.btn_send.mt-30() Отправить сообщение 
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkS1YFi2KvkMaaudj8A56Ova53LzyEsr4&callback=initMap")
        script(src="./js/maps.js")
        script(src="./js/app.min.js")