html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        base(href="")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:300,400,700&display=swap&subset=cyrillic" rel="stylesheet")
        title Designing Page
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="robots" content="")
        link(rel="canonical" href="")

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area
            main.inside-area
                include chunks/header.pug
                section.container-fluid.pt-60.pt-md-30.pb-60.pb-md-30
                    .row.no-gutters.justify-content-center.text-center
                        .col-8.col-md-12.col-lg-12
                            h1.h1-lead.text-bold.text-blue Компетенции «Телеком XXI век» в&nbsp;проектировании
                        .col-6.col-md-12.col-lg-9
                            p.lead.text-blue Компания осуществляет функции генерального проектировщика. 
                                | Выбор&nbsp;инвестором надежного генерального проектировщика является залогом реализации проекта в предусмотренные сроки
                        .col-12.col-md-12.col-lg-12.pt-60.pt-md-30
                            p.text-uppercase.text-bold.text-spacing Нам доверяют такие компании:
                            .slider.slider_partners#partnersLogo
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-EMC.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-Водотеплоснаб.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-Газпром-Межрегионгаз.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-ГУП-Водоканал.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-МАИ.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-МосВодосток.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-ООО-Капитал-Энерго.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-Водотеплоснаб.png" atl="" title="")
                                .item.item_logo.slider_partners__item
                                    img.img-fluid(src="../logo/логотип-проектирование-Газпром-Межрегионгаз.png" atl="" title="")
                section.container-fluid.mb-60.mb-md-30
                    .item.item_offset-xl.border
                        .row
                            .col-5
                                p.h1.h1-lead.text-bold Разрешительная документация
                                p.text-light.text-dark-blue Подтверждает полное соответствие и готовность компании к проектированию любого заказа
                                ul.list.list_check.text-dark-blue
                                    li.list__item
                                        span.text-bold СРО «Лига изыскателей» 
                                        | (3 уровень ответственности)
                                    li.list__item
                                        span.text-bold СРО «Стройсвязь Телеком»  
                                        | (2 уровень ответственности)
                                    li.list__item
                                        span.text-bold СРО «ПроектСвязь Телеком» 
                                        | (3 уровень ответственности)
                            .col-7
                                .row.align-items-center
                                    .col-4
                                        img.img-fluid(src="../img/02.png")
                                    .col-4
                                        img.img-fluid(src="../img/02.png")
                                    .col-4
                                        img.img-fluid(src="../img/02.png")
                        .row.mt-30
                            .col-4
                                .item.item_column.item_offset-sm.bg-lighter-blue
                                    p.mb-15.item__title.text-uppercase.text-bold.text-spacing Лицензия Министерства культуры России
                                    p.item__intro.item__intro_lh проектные работы на объектах культурного наследия России
                            .col-4
                                .item.item_column.item_offset-sm.bg-lighter-blue
                                    p.mb-15.item__title.text-uppercase.text-bold.text-spacing Допуски для выполнения проектно-изыскательных работ
                                    p.item__intro.item__intro_lh в т.ч. на особо опасных и технически сложных объектах, 
                                        | предусмотренных ст.&nbsp;48.1 Градостроительного кодекса РФ
                            .col-4
                                .item.item_column.item_offset-sm.bg-lighter-blue
                                    p.mb-15.item__title.text-uppercase.text-bold.text-spacing Сертификация ISO 9001: ГОСТ&nbsp;Р&nbsp;ИСО&nbsp;9001-2015
                                    p.item__intro.item__intro_lh подготовка документации для объектов кап. строительства; монтаж и пуско-наладка электрических сетей и линий связи.
                section.designing.pt-60.pt-md-30.pb-60.pb-md-30
                    .container-fluid
                        .row.justify-content-center
                            .col-10
                                .row.justify-content-center.designing__row.designing__border-left
                                    .col-6
                                        .designing__line
                                    .col-6
                                        p.h3.text-bold Успешное согласование
                                        p любой проектной документации с соблюдением согласованных сроков, утвержденных стандартов, официальных инструкций и нормативов
                                .row.justify-content-end.designing__row.designing__border-left-bottom.pt-60.pb-60
                                    .col-5
                                        .content-icon
                                            img.content-icon__img(src="../img/file-white.svg")
                                            p.content-icon__title.text-bold.text-uppercase Согласование
                                            p проектной документации в необходимых инстанциях
                                    .col-6
                                        .content-icon
                                            img.content-icon__img(src="../img/paper-white.svg")
                                            p.content-icon__title.text-bold.text-uppercase Прохождение
                                            p ФАУ “Главгосэкспертиза” 
                                                <br/> ГАУ “Мосгоэкспертиза”
                                .row.justify-content-center.designing__row.designing__border-right.pt-60.pb-60
                                    .col-6
                                        p.h3.text-bold Надзор и реализация проекта
                                        p под четким и уверенным управлением специалистов «Телеком XXI век»
                                    .col-6
                                        .designing__line
                                .row.justify-content-center.designing__row
                                    .col-4
                                        .item.item_check-light
                                            p.item__intro
                                                span.text-bold Разработка BIM-модели 
                                                | и управление  процессами строительства
                                    .col-4
                                        .item.item_check-light
                                            p.item__intro Функции 
                                                span.text-bold генерального подрядчика и проектировщика. 
                                                | Авторский надзор с нулевого цикла до сдачи объекта в эксплуатацию
                                    .col-4
                                        .item.item_check-light
                                            p.item__intro
                                                span.text-bold Соблюдение сроков реализации 
                                                | и затрат засчет оптимизации объемов работ, ресурсов и времени.
                section.container-fluid.pt-60.pt-md-30.pb-30.pb-md-0
                    h4.h6.text-spacing.text-bold.text-uppercase Проектирование инженерных сетей и сооружений
                    .row
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                        .col-4.mb-30
                            .item.item_link.item_offset-sm.border
                                p.item__intro.item__intro_lh Инженерно-геологические, экологические геодезические изыскания
                section.bg-light-blue.pt-60.pt-md-30.pb-30.pb-md-0
                    .container-fluid
                        h4.h6.text-spacing.text-bold.text-uppercase Примеры реализованных проектов
                        .row.portfolio
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-Сестрорецк.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Сестрорецк, п. Репино
                                    p.portfolio-item__intro Реконструкция канализационных очистных сооружений
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-СПб.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Санкт-Петебург
                                    p.portfolio-item__intro Инженерная подготовка индустриального парка «Марьино»
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-Видное.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Видное
                                    p.portfolio-item__intro Проектирование ВЗУ для Администрации г. Видное
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-СПб.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Санкт-Петебург
                                    p.portfolio-item__intro Реконструкция Кузьмоловской водопроводной станции
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-СПб.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Санкт-Петебург
                                    p.portfolio-item__intro Наружные сети водопровода и канализации к ЖК «Орбита», «Каменка», «Ласточкино гнездо»
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-Москва.png');")
                                    .portfolio-item__intro
                                    p.text-bold.text-uppercase.mb-15 г. Москва
                                    p.portfolio-item__intro Проектирование сетей ливневой канализации для ГУП «Мосводосток»
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-Шатура-Электросталь.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Шатура, г. Электросталь
                                    p.portfolio-item__intro Проектирование канализационных очистных сооружений для генподрядчика АО ГК “ЕКС”
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-Москва.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Москва
                                    p.portfolio-item__intro Проектирование учебного корпуса МАИ для “Московского авиационного  института”
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-СПб.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Санкт-Петебург
                                    p.portfolio-item__intro Новый блок водоподготовки К-6 и завод по производству гипохлорита натрия 
                                        | на Южной водопроводной станции
                            .col-6.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-Москва.png');")
                                    p.text-bold.text-uppercase.mb-15 г. Москва
                                    p.portfolio-item__intro Строительство и вынос инженерных сетей водоснабжения, канализации х/б и ливневой, теплоснабжения при реконструкции Рублево-Успенского шоссе из пятна застройки (Генподрядчик «ДСК»)
                            .col-3.mb-30
                                .portfolio-item.portfolio-item_designing
                                    .portfolio-item__gerb(style="background-image: url('../logo/герб-МО.png');")
                                    p.text-bold.text-uppercase.mb-15 п. Битца, Московская обл.
                                    p.portfolio-item__intro Строительство канализационных очистных сооружений для ООО Лидер производительность 4500 м3/сутки
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js") 
        script(src="./js/app.min.js")