html(lang="ru")
    head
        include chunks/head.pug
        title Basic Page
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="robots" content="")
        link(rel="canonical" href="")

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")