html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Page

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content-area
            include chunks/header.pug
            main.inside-area
                section.container.pt-60.pb-60.pt-md-30.pb-md-30
                    .row
                        .col-2
                            p.heading-label Новости
                        .col-8
                            h1.heading Пример шаблона простой текстовой страницы
                            ul.breadcrumbs
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Новости
                                li.breadcrumbs__item Заголовок страницы
                            p Компания Телеком XXI предоставляет полный спектр услуг, направленных на достижение поставленных целей и решение целого ряда бизнес-задач. Написать, что заказ на комплексные работы сокращают издержки. Компания Телеком XXI предоставляет полный спектр услуг, направленных на достижение поставленных целей и решение целого ряда бизнес-задач. Написать, что заказ на комплексные работы сокращают издержки. 
                            p Компания Телеком XXI предоставляет полный спектр услуг, направленных на достижение поставленных целей и решение целого ряда бизнес-задач. Написать, что заказ на комплексные работы сокращают издержки. 
                            p
                                img.img-fluid(src="../img/demo-img.png" alt="" title="")
                                span.heading-image Подпись под фото
                            h2.h2 Заголовок h2
                            h3.h3 Заголовок h3
                            h4.h4 Заголовок h4
                            h5.h5 Заголовок h5
                            h6.h6 Заголовок h6
                            p The primary use of proceeds of the capital raise will go towards aggressively expanding Igloo’s sales and marketing efforts. Related to the rebrand, Harrison said:
                            blockquote.blockquote Over the past few years we have been so focused on building a great product – we have now done that, so it is time to re-introduce ourselves to the market with a fresh, exciting look. Our name has not changed, but our logo and website reflect a more professional, confident Igloo with ambitions to become the leading ETRM provider in Europe.
                            p The Company already counts some of the largest European hedge funds and physical energy aggregators as clients but is tapping into the growing demand for fast, flexible, cloud-based trading software solutions given the digitalisation of the energy markets. Regarding this opportunity, Hugh Brunswick said, “We see first-hand the shift in the market to a higher frequency, shorter-tenor trading, with customers demanding fully-electronic and direct market access. Igloo is uniquely positioned to capitalize on this opportunity given its state-of-the-art technology and deep European energy market expertise.
                        .col-2.text-right
                            p.text-grey.text-bold.mb-0 Опубликовано:
                            p.text-grey 12 марта 2020
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")