// Group
.filter-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .select2.filter{
        & + .select2.filter{
            margin-left: 10px;
        }
    }

    margin-left: -10px;
    margin-right: -10px;
    
    &__item{
        display: inline-block;
        padding: 0 10px;
        max-width: 50%;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .filter-group{
        &_hidden-sm{
            display: none;
            .filter-group__item{
                margin-top: 10px;
                max-width: 100%;
                width: 100%;
                .filter{
                    width: 100%;
                }
            }
        }
    }
}