.filter_select{
    &.select2-container--default{
        .select2-selection--single{
            border: 1px solid $light-grey;
            border-radius: 30px;
            outline: none;
            height: auto;
            .select2-selection__rendered{
                line-height: 18px;
                padding: 14px 50px 14px 30px;
            }
            .select2-selection__arrow {
                height: 100%;
                top: 0;
                right: 16px;
                width: 20px;

                background: url("../img/arrow-down-light.svg") no-repeat center / 20px;

                b{
                    display: none;
                }
            }
        }
        .select2-dropdown{
            border: 1px solid $light-grey;
            .select2-results__option {
                padding: 10px 30px;
                &.select2-results__option[aria-selected=true]{
                    background-color: $light-blue;
                }
                &.select2-results__option--highlighted[aria-selected]{
                    background-color: $blue;
                }
            }
        }
    }
}