// Group
.filter-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .select2.filter{
        & + .select2.filter{
            margin-left: 10px;
        }
    }

    margin-left: -10px;
    margin-right: -10px;
    
    &__item{
        max-width: 50%;
        padding: 0 10px;
    }
}